################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnCSharp/.vs/LearnCSharp/FileContentIndex
